In [1]:
import pandas as pd

## Specify the input file with timestamps

In [2]:
input_timestamps = '/Users/akey/OneDrive - NREL/Eagles/app_telemetry_data.csv'

## Extract, convert timestamps to UTC, and find unique values

Skip timestamps that parse to not a time (NaT). But counts the NaTs.

In [5]:
df = pd.read_csv(input_timestamps)
ymdhs = []
nat_count = 0

timestamp_utc = pd.to_datetime(df['Time']).dt.tz_localize('US/Eastern', ambiguous='NaT', nonexistent='shift_forward')

for i, timestamp in enumerate(timestamp_utc):
    ymdh = f'{timestamp.year}-{timestamp.month}-{timestamp.day} {timestamp.hour}:00'
    if 'nan' not in ymdh:
        ymdhs.append(ymdh)
    else:
        nat_count += 1
    
ymdh_df = pd.DataFrame({'timestamp_utc': pd.Series(ymdhs).unique()})

ymdh_df.head()

    timestamp_utc
0  2015-1-9 13:00
1  2015-1-9 12:00
2  2015-1-2 14:00
3  2015-1-2 13:00
4  2015-1-2 12:00

How many NaTs were found?

In [6]:
nat_count

7

## Specify the output file for timestamps

In [7]:
output_timestamps = '/Users/akey/OneDrive - NREL/Eagles/app_telemetry_data_unique_timestamps.csv'

## Create the output file

In [8]:
ymdh_df.to_csv(output_timestamps, index=False)